@{
    ViewData["Title"] = "Wedding";
}

<div class="row">
    <h1 class="eight columns">Wedding of @ViewBag.CurrentWedding.Groom and @ViewBag.CurrentWedding.Bride</h1>
    <a href="/Dashboard">Dashboard</a>
    <a href="/Logout">Logout</a>
</div>

<h3>Date: @ViewBag.CurrentWedding.WeddingDate.ToString("MMM dd, yyyy")</h3>
@if(@ViewBag.CurrentWedding.Guests.Count > 0) {
    <h3>Guests: </h3>
    <ul>
        @{
            @foreach(var guest in @ViewBag.CurrentWedding.Guests) {
                    <li>@guest.User.FirstName @guest.User.LastName</li>
            }
        }
    </ul>
}